@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
 
    <h2>Integrantes</h2>
 
    <table>
<tr>
<th>Carnet</th>
<th>Nombre</th>
<th>Usuario</th>
 <th>COntraseña</th>
</tr>
<tr>
<td>303413
<td>Erick Bladimir Cubias Garcia
 <td>ebcg@examen.com
 <td>Asd12345*
</tr>
<tr>
<td>028521
<td>Noé Alfonso Alarcon Juárez
 <td>naaj@examen.com
 <td>Asd12345*
</tr>
<tr>
<td>13579</td>
<td>Marvin Eduardo Rivera Andrade
 <td>mera@examen.com
 <td>Asd12345*
</tr>
</table>
 
 
</body>
 
<style>
    body {
        font-family: Arial, sans-serif;
    }
 
    h2 {
        text-align: center;
    }
 
    table {
        width: 50%;
        margin: 20px auto;
        border-collapse: collapse;
    }
 
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
 
    th {
        background-color: #f2f2f2;
    }
 
 
</style>
